<!--
  The Side Bar
-->

<aside id="sidebar" class="d-flex flex-column align-items-end" {{ prefer_mode }}>
  <div class="profile-wrapper">
    <a href="{{ '/' | relative_url }}" id="avatar" class="rounded-circle">
      {% if site.avatar != empty and site.avatar %}
        {% capture avatar_url %}
          {% if site.avatar contains '://' %}
            {{ site.avatar }}
          {% else %}
            {{ site.avatar | relative_url }}
          {% endif %}
        {% endcapture %}
        <img src="{{ avatar_url | strip }}" width="112" height="112" alt="avatar" onerror="this.style.display='none'">
      {% endif %}
    </a>

    <h1 class="site-title">
      <a href="{{ '/' | relative_url }}">{{ site.title }}</a>
    </h1>
    
    {% assign lang = page.lang | default: "en" %}
    <p class="site-subtitle fst-italic mb-0">{{ site.data.translations[lang].tagline }}</p>
  </div><!-- .profile-wrapper -->

  <ul class="nav flex-column flex-nowrap w-100 ps-2">
    <li class="nav-item{% if page.layout == 'home' %} active{% endif %}">
      <a href="{{ '/' | relative_url }}" class="nav-link">
        <i class="fa-fw fas fa-home"></i>
        <span>{{ site.data.locales[lang].tabs.home | default: "HOME" }}</span>
      </a>
    </li>

    {% for tab in site.tabs %}
      <li class="nav-item{% if page.url == tab.url %} active{% endif %}">
        <a href="{{ tab.url | relative_url }}" class="nav-link">
          <i class="fa-fw {{ tab.icon }}"></i>
          <span>{{ site.data.locales[lang].tabs[tab.url] | default: tab.title | upcase }}</span>
        </a>
      </li>
    {% endfor %}

  </ul><!-- .nav -->

  <div class="sidebar-bottom d-flex flex-wrap  align-items-center w-100">
    <div class="w-100 ps-3 mb-2 text-muted small">
      {{ site.data.translations[lang].maintained_by }}: <strong>{{ site.author }}</strong>
    </div>

    {% unless site.theme_mode %}
      <button type="button" class="mode-toggle btn" aria-label="Switch Mode">
        <i class="fas fa-adjust"></i>
      </button>

      {% if site.data.contact.size > 0 %}
        <span class="icon-border"></span>
      {% endif %}
    {% endunless %}

    {% for entry in site.data.contact %}
      {% case entry.type %}
        {% when 'github', 'twitter' %}
          {% capture url %}https://{{ entry.type }}.com/{{ entry.id }}{% endcapture %}
        {% when 'email' %}
          {% capture url %}mailto:{{ entry.id }}{% endcapture %}
        {% when 'rss' %}
          {% capture url %}{{ '/feed.xml' | relative_url }}{% endcapture %}
        {% else %}
          {% assign url = entry.id %}
      {% endcase %}

      {% if url %}
        <a href="{{ url }}" aria-label="{{ entry.type }}"
          {% unless entry.noblank %}target="_blank" rel="noopener"{% endunless %}>
          <i class="fa-fw {{ entry.icon }}"></i>
        </a>
      {% endif %}
    {% endfor %}

  </div><!-- .sidebar-bottom -->

</aside><!-- #sidebar -->
